
body {
    background-color: rgb(180, 150, 150);
    font-family: sans-serif;
}

/* id do cabecalho */



#cabecalhoSaibaMais {
background-color:  rgb(163, 22, 22);
border: black 1px solid;
border-radius: 10px;
padding-left: 300px;
margin-bottom: 30px;
box-shadow: black 2px 2px 5px;
}

/* id da imagem central do COVID */
#imgCovid{
    margin-left: 25%;
    width: 50%;
    height: 20%;

}

/* id do conteudo */

#conteudo{
background-color: wheat;
margin-left: 5%;
margin-right: 5%;
padding: 2%;

}

/* atributos dos links do menu */

a { 
color: blue; 
text-decoration: unset;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

/* id dos links */

#navbar{
display: flex;
justify-content: space-between;
margin-bottom: 30px;

}


.noticiaDestaque{
    
    border: rgb(112, 6, 6) 1px solid;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgb(112, 6, 6);

}

h4 {
    text-align: center;
    font-size: 15px;

}

/* classe da descricoes das noticias */
.descDestaque {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    margin-right: 5px;

}



/* classe das imagens das noticias em destaque */
.imgDestaque {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 5%;


}


#rodape{
    display: flex;
    background-color: rgba(160, 51, 51, 0.788);
    justify-content:  space-between;
    margin-top: 30px;

}

#redeSociais{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

.rede{
    margin-top: 5px;
    margin-bottom: 5px;
}

#email{
    margin-right: 50px;
}

#receba{
    color: white;
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

button{
    background-color: gray;
    width: 60px;
    height: 30px;
    border: black(105, 1, 1) 1px solid;
    color: rgb(243, 243, 243);
    font-size: 15px;
    box-shadow: black 2px 2px 5px ;
}
